* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --bg-danger: #f63440;
    --bg-white: #fff;
    --bg-light-white: #f5f5f5;
    --bg-light-gray: #f6f9fe;
    --bg-gradient: linear-gradiant(to top, #ff007e 0%, rgba 142, 0, 116, 1 100%);
    --bg-card-show: 0 0.188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
    --bg-light-gray-1: #eee;

    --text-danger: #f63440;
    --text-white: #fff;
    --text-black: #393535;
    --text-light-black: #444;
    --text-light-pink: #ff007e;
    --text-light-gray: #eee;
    --text-dark-gray: #777;

    --primary-font: "poppins,sens-serif";
    ;

}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);

}

.btn-danger {
    background-color: var(--bg-danger);
    border-color: var(--bg-danger);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-danger:hover {
    color: var(--text-danger);
    background-color: var(--bg-white);
    background: transparent;
}

#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0/5%);
}

#header .navbar-nav .nav-item .nav-link {
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
    color: var(--text-danger);

}

.home .home-banner-1,
.home .home-banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}

.home .home-banner-1 {
    background-image: url(../assets/slide1.jpg);
}

.home .home-banner-2 {
    background-image: url(../assets/slide2.jpg);
}

.home .home-banner .home-banner-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-110%, -50%);
}

.carousel-indicators [data-bs-target] {

    background-color: var(--bg-danger);
}

.home .home-banner .home-banner-text h1 {
    font-size: 6rem;
}

.home .carousel-indicators[data-bs-target] {
    width: 2.5rem;
    color: var(--text-danger);
    height: 0.313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    /* background: transparent; */
    color: var(--text-danger);
}

/* next button css */
.carousel-control {
    border-radius: 50%;
    border-color: #888;
    background-color: rgb(175, 174, 174);
    color: var(--text-danger);
    height: 60px;
    width: 60px;
    box-shadow: 0 0 10px 3px #888;
}

.icon1 {
    position: absolute;
    top: 50%;
    left: 4%;
}

.icon2 {
    position: absolute;
    top: 50%;
    right: 4%;
}

.carousel-control-icon {
    color: var(--text-black);
    margin: 9px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
}

.carousel-control:hover {
    background-color: var(--bg-white);
}

.offer .offer-box .offer-img::before {
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3)100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.3)100%);
}

.offer .offer-box .offer-img img {
    transform: scale(1.02);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offer .offer-box:hover .offer-img img::before {
    animation: effect_shine 1s;
}

@keyframes effect_shine {
    100% {
        left: 150%;
    }
}

.offer .offer-overlay::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.offer .offer-box .offer-info {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
}

.offer .offer-box .offer-info .heading-bigger {
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}

.offer .offer-box .offer-info .offer-title-1 {
    font-size: 1.175rem;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 0;
    color: var(--text-white);
}

.offer .offer-box .offer-info .btn-outline-danger {
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all 0.3 ease-in-out;
}

.offer .offer-box .offer-info .btn-outline-danger:hover {
    color: var(--text-white);
    background-color: var(--bg-danger);

}

.headline h2::before {
    content: '';
    height: 0.125rem;
    width: 30%;
    color: var(--bg-danger);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
}

.products a {
    text-decoration: none;
    color: var(--text-black);
}

.product-list .product-img img {
    transition: all 500ms ease-in-out;
}

.product-list .product-img .product-img-secondary {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-list .product-img:hover .product-img-secondary {
    opacity: 1;
}

.product-list .product-img .sale {
    background: var(--bg-danger);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    line-height: 1.563rem;
    padding: 0.125rem 0.813rem;
    position: absolute;
    text-transform: uppercase;
    top: 1.888rem;
    left: 1rem;
    z-index: 99;
}

.product-list .product-name h3 {
    font-size: 1.125rem;
    color: var(--text-black);
    transition: all 0.3s ease 0s;
}

.product-list .product-name h3:hover {
    color: var(--text-danger);
}

.product-list .product-name .amount {
    color: var(--text-danger);
    font-weight: 500;
}

.product-list .product-name .amount del {
    color: var(--text-dark-gray);
}

.product-list,
.product-name .py-1 span {
    color: #ffc107;
}

.product-list .product-name .add_to_card {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.product-list .product-name .add_to_card:hover {
    color: var(--text-danger);
}

.products .up_to_off {
    position: relative;
}

.products .up_to_off::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.products .up_to_off img {
    transition: 0.5s;
}

.products .up_to_off:hover img {
    transform: scale(1.1);
}

.products .up_to_content h2 {
    font-size: 1.625;
    color: var(--text-white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.special {
    background: var(--bg-light-white);
    padding: 6rem 0;
}

.special .countdown-container {
    padding: 4.375rem;
}

.special .countdown-container p {
    line-height: 1.875rem;
    color: var(--text-dark-gray);
    font-weight: 300;
}

.special .countdown-container .countdown-counter {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.875rem;
}

.special .countdown-container .countdown-counter li {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    background: var(--bg-white);
    text-align: center;
    border-radius: 0.313rem;
    padding: 2rem 1rem;
    margin: 0 0.313rem;
    width: 15%;
}

.special .countdown-container .countdown-counter li span {
    font-weight: 500;
}

.special .countdown-container .countdown-price del {
    font-size: 1rem;
    color: var(--text-gray);
}

.special .special-img span {
    border-radius: 0.313rem;
    background: var(--bg-danger);
    color: white;
    font-size: 0.813rem;
    line-height: 1.563rem;
    letter-spacing: 0.125rem;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 1rem;
    top: 1.188rem;
    z-index: 99;
}

.testimonial {
    padding: 5rem 0 8rem;
}

.testimonial .testimonial-wrapper {
    box-shadow: 0 0 0.563rem 0 rgb(0 0 0/5%);
    background: var(--bg-white);
    margin: auto;
    padding: 1rem 5rem;
    border: 0.063rem solid var(--bg-light-white);
    border-radius: 0.625rem;

}

.testimonial .testimonial-wrapper img {
    border-radius: 100%;
    margin: 1.25rem auto;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    background: var(--bg-white);
    border: 0.063rem solid var(--bg-light-white);
}

.testimonial .testimonial-wrapper span {
    color: var(--text-gray);
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem 0;
    display: block;
}

.testimonial .testimonial-wrapper p {
    font-size: 0.875rem;
    color: var(--text-gray);
    font-weight: 300;
}

.carousel-contro1 {
    position: absolute;
    top: 50%;
    right: 4%;
    border: none;
    font-size: 2rem;
    color: var(--text-danger);
}

.carousel-contro2 {
    position: absolute;
    top: 50%;
    left: 4%;
    border: none;
    font-size: 2rem;
    color: var(--text-danger);

}

.carousel-indicators button {
    background-color: black;
    height: 1rem;
}

.contact {
    padding: 4rem 0;
    background: var(--bg-light-white);
}

.contact .info li p a {
    font-size: 1rem;
    display: inline-block;
    margin: 0.75rem 0;
    color: var(--text-black);
    text-decoration: none;
}

.contact .form-group {
    margin-bottom: 1.5rem;
}

.contact .form-control {
    height: 3.75rem;
    border: none;
    font-size: 1rem;
    padding: 0.375rem 1.1875rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0/12%);
}

.contact textarea {
    width: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.1875rem;
    margin-top: 0.3125rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0/12%);

}

.contact textarea {
    border: none;
    outline: none;
}

.copyright {
    background: var(--bg-danger);
}

.copyright p,
a {
    color: var(--text-white);
    font-size: 1rem;
}

 #scrollup {
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 3.813rem;
    width: 3.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    /* display: none; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: var(--bg-danger);
    text-align: center;
}

#scrollup i {
    line-height: 2.625rem;
    color: white;
}

#scrollup .scrollactive {
    display: block;
}
#scrollup a{
    color: black;
    text-decoration: none;
    
}